*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

Header{
    background-color: black;
    height:10vh;
    width: 100%;
    color: white;
    position: fixed;
    display: flex;
    justify-content: space-around;
}
#app{
    width: 80%;
    display: grid;
    margin-left: 20%;
}

.addBtn{
    height: 100px;
    width: 100px;
    position: fixed;
    top: 80%;
    left: 80%;
    z-index: 10;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 40px;
    cursor: pointer;
}

.leftNav{
    background-color: black;
    color:white;
    position: fixed;
    width: 20%;
    height: 90%;
    margin-top: 10vh;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    height: 100%;
    width: 100%;
    list-style: none;
}

.nav li{
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
    border: solid 3px black;
}
.rightDisplay{

    background-color: white;
    margin-top: 10vh;
}
.addTask{
    height: 100px;
    width: 300px;
    top: 30%;
    left: 50%;
    transform: translateX(-30%);
    position: fixed;
    display: none;
    padding: 5px;
}

.addTask form{
    background-color: red;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

#addtasktop{
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 30px 30px;
    gap: 4px;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

#addtasktop input{
    width: 100%;
}

#addtasktop:nth-child(n){
    margin-top: 10px;
}

.addTask textarea{
    width: 100%;
    padding: 10px;
    height: 50px;
}
.addTask h4{
    text-align: center;
}
#radioinput{
    
}

.visible{
    display: block;
}


.taskCard{
    background-color: black;
    color:white;
    padding: 5px;
    border: solid white 4px;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 500px;
}
.buttons{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.buttons button{
    margin: 10px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.editdescription{
    display: none;
}
.high{
    border: 5px solid red;
}